.account-card {
  width: 415px;
  height: 188px;

  display: inline-flex;
}

.account-card .img {
  width: 120px;
  height: 120px;

  margin: 24px 0 0 20px;

  flex-shrink: 0;
}

.account-card .img img {
  width: 100%;
  height: 100%;
}

.account-card .info {
  margin: 16px 0 0 20px;

  position: relative;

  flex: 1 0 auto;

  max-width: calc(100% - 160px);
}

.account-card .info p {
  display: block;
}

.account-card .info .president {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;

  font-size: 12px;
  line-height: 16px;
}

.account-card .info .name {
  margin-top: 20px;

  font-size: 16px;
  line-height: 20px;
}

.account-card .info .job {
  margin-top: 13px;

  font-size: 16px;
  line-height: 24px;
}

.account-card .info .position {
  margin-top: 7px;

  font-size: 14px;
  line-height: 18px;

  color: var(--color-grey-1);
}

.account-card .info .social {
  margin: 30px 0 0;
}

.account-card .info .social a {
  display: inline-block;

  width: 24px;
  height: 24px;

  border-radius: 50%;

  background-color: #E7E7E7;

  margin-left: 8px;
}

.account-card .info .social a:first-child {
  margin-left: 0;
}