.activity .list {
  padding: 48px 200px 110px;
}

.activity .list .card {
  width: calc(50% - 20px);
  height: 551px;

  margin: 40px 0 0 40px;

  display: inline-block;

  cursor: pointer;
}

.activity .list .card:hover .info .more {
  background-color: var(--color-green);
}

.activity .list .card:nth-child(1),
.activity .list .card:nth-child(2) {
  margin-top: 0;
}

.activity .list .card:nth-child(odd) {
  margin-left: 0;
}

.activity .list .card > .img {
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.activity .list .card > .img img {
  max-width: 80%;
}

.activity .list .card .info {
  padding: 32px;
}

.activity .list .card .info .name {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.activity .list .card .info .date {
  font-size: 14px;
  line-height: 18px;

  margin-top: 8px;

  color: var(--color-grey-1);
}

.activity .list .card .info .description {
  font-size: 16px;
  line-height: 24px;

  margin-top: 20px;
}

.activity .list .card .info .more {
  display: block;

  width: 180px;
  height: 40px;

  margin: 12px auto 0;
}

@media screen and (max-width: 1000px) {
  .activity .list .card {
    width: 100%;

    margin: 40px 0 0;
  }

  .activity .list .card:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 720px) {
  .activity .list {
    padding-left: 24px;
    padding-right: 24px;
  }
}