.activity-full {
  padding: 150px 200px 170px !important;
}

.activity-full .all {
  margin-top: 13px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.activity-full .all .info {
  width: 521px;
}

.activity-full .all .info .img {
  width: 100%;
  height: 272px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-full .all .info .name {
  margin-top: 32px;

  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.activity-full .all .info .name + p {
  margin-top : 24px;

  font-size: 16px;
  line-height: 24px;
}

.activity-full .all .form {
  margin-left: 58px;
  padding: 32px 48px 24px;

  width: 462px;

  background-color: var(--color-black);
}

.activity-full .all .form .input-wrapper {
  margin-top: 32px;
}

.activity-full .all .form .input-wrapper:first-child {
  margin-top: 0;
}

.activity-full .all .form .input-wrapper input {
  color: var(--color-grey-1);
}

.activity-full .all .form .polit {
  margin-top: 32px;
}

.activity-full .all .form .polit label {
  color: var(--color-white);

  font-size: 12px;
  line-height: 14px;
}

.activity-full .all .form .polit input {
  color: var(--color-green);
}

.activity-full .all .form .send {
  width: 264px;
  height: 40px;

  margin: 59px auto 0;
}

@media screen and (max-width: 1130px) {
  .activity-full .all {
    flex-direction: column;
    align-items: center;
  }

  .activity-full .all > div {
    margin: 0 !important;

    width: 100% !important;
  }

  .activity-full .all > div:last-child {
    margin-top: 48px !important;
  }
}

@media screen and (max-width: 780px) {
  .activity-full {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}