html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--color-background);

  overflow: hidden;
}

* {
  box-sizing: border-box;

  outline: none;
  text-decoration: none;

  font-family: 'GothamPro';
  font-style: normal;
  font-weight: normal;

  color: var(--color-black);
}

p {
  margin: 0;
}

:root {
  --color-background: #f2f2f2;
  --color-white: #ffffff;
  --color-black: #2b2b2b;
  --color-grey-1: #acacac;
  --color-grey-2: #6a6a6a;
  --color-green: #009141;
}

#root {
  width: 100%;
  height: 100%;
}

#root > :nth-child(2) {
  overflow-y: auto;

  padding: 118px 0 60px 0;

  height: 100%;

  position: relative;
}

button {
  display: block;

  background: none;
  border: none;

  cursor: pointer;
}

input {
  color: var(--color-grey-1);

  display: block;

  background: none;
  border: none;
}

input::placeholder {
  color: var(--color-grey-1);
}

button.done,
button.done-outline {
  width: 180px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
}

button.done-outline {
  border: 1px solid #ACACAC;
}

button.done:hover,
button.done-outline:hover {
  background: #FFFFFF;
}

.input-wrapper {
  width: 100%;
  height: 62px;

  display: block;

  border-bottom: 1px solid #ACACAC;
}

.input-wrapper label {
  color: var(--color-white);

  font-size: 12px;
  line-height: 14px;
}

.input-wrapper input {
  display: block;
  width: 100%;

  margin-top: 15px;

  font-size: 16px;
  line-height: 20px;
}

.input-wrapper input::placeholder {
  color: #ACACAC;
}

.page-header {
  width: 450px;
  height: 33px;

  border-bottom: 1px solid var(--color-grey-1);

  margin-top: 9px;
}

.page-header p {
  display: block;
  width: 250px;
  height: 21px;
  margin: 0 0 auto auto;

  font-weight: bold;
  font-size: 22px;
  line-height: 21px;

  text-transform: uppercase;
}

.back {
  cursor: pointer;
}

.back * {
  display: inline-block;
}

.back p {
  color: var(--color-green);

  font-size: 14px;
  line-height: 16px;

  text-transform: uppercase;

  margin-left: 12px;
}

.sub-green,
.sub-without,
.sub-white {
  width: 160px;
  height: 40px;

  text-transform: uppercase;

  color: var(--color-grey-1);
}

.sub-without {
  color: var(--color-black);
}

.sub-white {
  border: 1px solid var(--color-grey-1);
}

.sub-white:hover {
  background-color: var(--color-white);
}

.sub-green {
  border: 1px solid var(--color-grey-1);
}

.sub-green:hover {
  background-color: var(--color-green);
}

.sub-without:hover {
  background-color: var(--color-green);
}

@font-face {
  font-family: 'GothamPro';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/GothamPro/GothamProRegular.ttf');
}

@font-face {
  font-family: 'GothamPro';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/GothamPro/GothamProBold.ttf');
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(26, 26, 26, .1);
  border-radius: 24px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(26, 26, 26, .3);
}

.polit {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.polit input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.polit input[type="checkbox"] + label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

.polit input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-grey-1);
  background: #fff;
}

.polit input[type="checkbox"] + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-grey-1);
  background-color: var(--color-green);
}

.polit input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.polit input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.polit label:last-child {
  display: inline-block;

  margin-left: 16px;

  font-size: 12px;
  line-height: 14px;
}

#root > :nth-child(2) > .user-control {
  position: absolute;
  top: 130px;
  right: 40px;
}

@media screen and (max-width: 950px) {
  #root > :nth-child(2) {
    padding-top: 120px;
  }

  #root > :nth-child(2) > .user-control {
    top: 68px;
    right: 23px;
  }
}

@media screen and (max-width: 660px) {
  #root > :nth-child(2) {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 520px) {
  .page-header {
    width: 360px;
  }
}