.business-idea {
  width: 45%;
  max-width: 500px;
  height: 296px;

  position: relative;
  display: inline-block;

  margin: 40px 0 0 10%;

  cursor: pointer;

  overflow: hidden;
}

.business-idea img {
  position: absolute;

  min-width: 100%;
  height: 100%;

  top: 0;
  left: 50%;

  transform: translateX(-50%);

  text-align: center;
}

.business-idea:nth-child(1),
.business-idea:nth-child(2) {
  margin-top: 0;
}

.business-idea:nth-child(odd) {
  margin-left: 0;
}

.business-idea p {
  position: absolute;
  display: block;

  font-size: 16px;
  line-height: 20px;

  top: 232px;
  left: 32px;

  color: var(--color-white);
}

.business-idea div {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(0.05deg, #1A1A1A 0.05%, rgba(26, 26, 26, 0.509533) 27.84%, rgba(0, 0, 0, 0.119783) 63.41%);
}

@media screen and (max-width: 950px) {
  .business-idea {
    width: 100%;

    margin: 0;
  }
}