.business-ideas .ideas {
  margin: 48px 200px 80px;
}

.business-ideas .ideas + .page-header {
  width: 564px;
}

.business-ideas .ideas + .page-header p {
  width: 364px;
}

.business-ideas .reviews {
  display: inline-block;
  margin: 48px 200px 110px;
  width: calc(100% - 400px);
}

.business-ideas .reviews .review {
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .business-ideas .ideas {
    margin-left: 24px;
    margin-right: 24px;
  }

  .business-ideas .ideas + .page-header p {
    width: 250px;
  }

  .business-ideas .ideas + .page-header {
    width: 360px;
  }
}

@media screen and (max-width: 975px) {
  .reviews {
    margin-left: 23px !important;
    margin-right: 23px !important;
    width: calc(100% - 46px);
  }
}