.business-idea-full {
  padding: 145px 530px 170px 160px !important;

  position: relative;
}

.business-idea-full .info {
  width: 716px;
}

.business-idea-full .header {
  margin-top: 12px;

  font-size: 22px;
  line-height: 28px;
  font-weight: bold;

  letter-spacing: 0.5px;

  text-transform: uppercase;
}

.business-idea-full .date {
  font-size: 14px;
  line-height: 18px;

  color: var(--color-grey-1);

  margin-top: 8px;
}

.business-idea-full .date + img {
  margin-top: 24px;

  width: 100%;
}

.business-idea-full .text {
  font-size: 16px;
  line-height: 24px;

  margin-top: 37px;
}

.business-idea-full .text b {
  font-weight: bold;
}

.business-idea-full .materials {
  height: 211px;
  width: 100%;

  margin-top: 40px;
}

.business-idea-full .materials .added {
  height: 24px;
  width: 100%;
}

.business-idea-full .materials .added .file {
  width: 253px;
  height: 100%;

  border: 1px solid var(--color-grey-1);

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.business-idea-full .materials .added .file .name {
  font-size: 12px;
  line-height: 14px;

  color: var(--color-grey-1);

  margin-left: 4px;
}

.business-idea-full .materials .added .file img {
  width: 24px;
  height: 24px;
}

.business-idea-full .materials .added .file img:last-child {
  margin-left: 4px;
}

.business-idea-full .materials .drag-on-drop {
  height: 91px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px dotted var(--color-grey-1);

  margin-top: 16px;
}

.business-idea-full .materials .drag-on-drop .upload {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.business-idea-full .materials .drag-on-drop .upload p {
  color: var(--color-green);

  margin-left: 12px;
}

.business-idea-full .materials .drag-on-drop > p:last-child {
  margin-top: 8px;

  color: var(--color-grey-1);

  font-size: 14px;
  line-height: 18px;
}

.business-idea-full .materials .sub-green {
  margin: 40px 0 110px auto;
}

.business-idea-full > .added-materials {
  position: absolute;
  top: 133px;
  right: 160px;

  padding: 24px 24px 41px 24px;
}

.business-idea-full > .added-materials p:first-child {
  font-size: 16px;
  line-height: 20px;
}

.business-idea-full > .added-materials .files {
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.business-idea-full > .added-materials .files .file {
  margin-top: 20px;

  height: 20px;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.business-idea-full > .added-materials .files .file img {
  width: 20px;
  height: 20px;
}

.business-idea-full > .added-materials .files .file p {
  margin-left: 16px;

  font-size: 14px;
  line-height: 18px;

  color: var(--color-grey-1);
}

.business-idea-full > .added-materials .files .file:first-child {
  margin-top: 0;
}

@media screen and (max-width: 1040px) {
  .business-idea-full {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  .business-idea-full > .added-materials {
    position: unset;
  }
}