.contacts .list {
  margin: 46px 200px 0;

  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.contacts .list > div {
  min-height: 100%;
}

.contacts .list .map {
  width: 100%;
  overflow: hidden;
}

.contacts .list .map img {
  height: 100%;
}

.contacts .list .data {
  width: 462px;
  max-width: 100%;

  flex-shrink: 0;

  padding: 170px 60px 170px;

  background-color: var(--color-black);
}

.contacts .list .data p {
  color: var(--color-white);

  font-size: 16px;
  line-height: 24px;
}

.contacts .list .data .coordinator:last-of-type {
  margin-top: 22px;
}

.contacts .list .data .coordinator .connect {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contacts .list .data .coordinator .connect p:last-child {
  margin-left: 8px;
}

.contacts .list .data .coordinator .connect > p:first-child,
.contacts .list .data p.header {
  color: var(--color-grey-1);

  font-size: 12px;
  line-height: 14px;
}

.contacts .list .data .coordinator .connect:first-of-type,
.contacts .list .data .coordinator .name,
.contacts .list .data .address p:last-child {
  margin-top: 5px;
}

.contacts .list .data .address + .header {
  margin-top: 25px;
}

.contacts .list + .page-header {
  margin-top: 80px;
}

.contacts .form {
  margin: 48px 200px 130px;
}

.contacts .form textarea {
  width: 100%;
  height: 91px;

  resize: none;

  border: 1px solid var(--color-grey-1);

  border-radius: 0;

  padding: 20px 16px;

  font-size: 14px;
  line-height: 18px;

  color: var(--color-grey-1);
}

.contacts .form .submit {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 45px;
}

.contacts .form .submit .send {
  width: 163px;
  height: 40px;

  border: 1px solid var(--color-grey-1);

  color: var(--color-grey-1);

  text-transform: uppercase;
}

.contacts .form .submit .send:hover {
  background-color: var(--color-green);
}

@media screen and (max-width: 1275px) {
  .contacts .list {
    flex-direction: column;
    align-items: center;
  }

  .contacts .list .map > img {
    height: unset;
    width: 100%;
  }

  .contacts .list > div {
    width: 100% !important;
  }
}

@media screen and (max-width: 860px) {
  .contacts .list {
    margin-left: 24px;
    margin-right: 24px;
  }

  .contacts .form {
    margin-left: 24px;
    margin-right: 24px;
  }
}