.user-control {
  margin: 0 0 0 auto;

  width: 356px;
  height: 30px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  z-index: 0;
}

.user-control .search {
  display: inline-block;
  position: relative;

  width: 230px;
  height: 100%;

  margin-right: 24px;
}

.user-control .search .back {
  background-color: var(--color-white);
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;

  z-index: -1;
}

.user-control.black .search .back {
  opacity: .1;
}

.user-control .search input {
  width: calc(100% - 40px);
  height: 100%;

  margin-left: 40px;

  padding: 0;
}

.user-control .search img {
  position: absolute;
  left: 8px;
  top: 3px;

  width: 24px;
  height: 24px;
}

.user-control .lang {
  display: inline-flex;
  width: 102px;
  height: 100%;
}

.user-control .lang p {
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;

  text-transform: uppercase;

  color: var(--color-green);
}

.user-control .lang p {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 51px;
  height: 30px;

  background-color: var(--color-white);
}

.user-control .lang p.active {
  background-color: var(--color-black);
}

.user-control:not(.black) .lang p.active {
  background-color: var(--color-white);

  border: 1px solid var(--color-grey-1);
}

.user-control:not(.black) .lang p::before {
  color: var(--color-grey-1);
}

.user-control .lang p.active::before {
  color: var(--color-green);
}

.user-control:not(.black) .lang p.ru::before,
.user-control .lang p.ru.active::before {
  content: 'ru';
}

.user-control:not(.black) .lang p.en::before,
.user-control .lang p.en.active::before {
  content: 'en';
}

@media screen and (max-width: 520px) {
  .user-control {
    width: 166px;
  }

  .user-control .search {
    width: 40px;
  }

  .user-control .search .back {
    display: none;
  }

  .user-control .search input {
    display: none;
  }
}