.footer {
  position: fixed;

  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;

  background-color: #2B2B2B;
}
  
.footer p {
  display: block;

  width: 206px;
  height: 36px;

  margin: 12px auto 12px 200px;

  font-size: 14px;
  line-height: 18px;

  color: var(--color-white);
}

@media screen and (max-width: 660px) {
  .footer {
    display: none;
  }
}