.hobby .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin: 48px 160px 58px;

  position: relative;
}

.hobby .characters {
  position: sticky;

  top: 0;

  width: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hobby .characters a {
  color: var(--color-grey-1);

  font-size: 14px;
  line-height: 18px;
}

.hobby .list .account-card {
  width: 100%;
  height: 244px;

  margin-top: 32px;

  overflow: hidden;
}

.hobby .list .account-card:first-child {
  margin-top: 0;
}

.hobby .list .account-card .img {
  width: 200px;
  height: 200px;

  margin: 24px 0 20px 24px;
}

.hobby .list .account-card .info {
  margin: 24px 24px 32px;

  position: relative;

  width: calc(100% - 276px);
}

.hobby .list .account-card .info .social {
  position: absolute;
  top: 0;
  right: 0;
}

.hobby .list .account-card .name {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.hobby .list .account-card .job {
  margin-top: 26px;

  color: var(--color-grey-1);

  font-size: 14px;
  line-height: 18px;
}

.hobby .list .account-card .position {
  color: var(--color-black);

  margin-top: 10px;
}

.hobby .one-hobby {
  background-color: var(--color-white);

  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 2;

  padding-top: 60px;

  display: none;
}

.hobby .one-hobby.active {
  display: block;
}

.hobby .one-hobby::after {
  content: '';

  position: absolute;

  top: 24px;
  right: 24px;

  width: 20px;
  height: 20px;

  cursor: pointer;

  background-image: url('../images/menu/x.svg');
  background-size: 100%;
  background-repeat: no-repeat;

  z-index: 3;
}

.hobby .one-hobby .account-card {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .hobby .container {
    margin-left: 24px;
    margin-right: 24px;
  }

  .hobby .list .account-card .img {
    width: 66px;
    height: unset;
  }

  .hobby .list .account-card .img img {
    height: unset;
  }
}

@media screen and (max-width: 550px) {
  .hobby .list .account-card .info .social {
    top: 36px;
    left: 0;
  }

  .hobby .list .account-card .name {
    height: 40px;
  }

  .hobby .list .account-card .job {
    margin-top: 42px;
    margin-left: -90px;
  }

  .hobby .list .account-card .position {
    margin-left: -90px;
  }
}