.login {
  position: relative;

  width: 100%;
  height: 100%;

  /* background-image: url('../images/login/login-back.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center; */
}

.login > img {
  position: fixed;

  z-index: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.login * {
  color: var(--color-grey-1);
}

.login .form {
  width: 365px;
  height: 487px;

  position: absolute;
  top: 50%;
  right: 164px;
  transform: translateY(-50%);

  z-index: 1;
}

.login .form .logo {
  width: 273px;
  height: 83px;

  display: block;
  margin: 0 auto;
}

.login .form .username {
  margin-top: 80px;
}

.login .form .password {
  margin-top: 32px;
}

.login .form .sign-in {
  margin: 64px auto 0;
}

.login .form .forgot {
  margin: 24px auto 0;
}

@media screen and (max-width: 1070px) {
  .login > img {
    left: 50%;
    transform: translateX(-50%);
    width: unset;
    min-width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .login .form {
    transform: unset;

    top: 96px;
    left: 50%;
    transform: translateX(-50%);

    width: 280px;
  }
}