.main .info {
  width: 100%;
  height: 904px;

  padding: 26px 40px 25px 201px;

  background-image: url('../images/main/background.png');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.main .info .tagline {
  display: block;
  margin: 66px 160px 0 auto;
  width: 727px;

  color: var(--color-green);

  font-size: 46px;
  line-height: 44px;

  text-transform: uppercase;
}

.main .info .text-info {
  margin: 275px 0 0 0;

  width: 633px;
  height: 438px;

  max-width: calc(100% - 80px);
}

.main .info .text-info p {
  color: var(--color-white);

  display: block;
}

.main .info .text-info .header {
  font-weight: bold;
  font-size: 46px;
  line-height: 44px;

  text-transform: uppercase;

  margin: 0;
}

.main .info .text-info .text {
  font-size: 16px;
  line-height: 24px;

  margin: 11px 0 0 0;

  width: 100%;
}

.main .links {
  width: 100%;
  height: 684px;
  margin: 80px 0;
}

.main .links .table {
  margin: 48px 200px 0;

  max-width: calc(100% - 148px);
}

.main .links .table a {
  width: calc(25% - 13px);
  height: 150px;

  margin: 0;
  padding: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1365px) {
  .main .info {
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 1365px) and (min-width: 950px) {
  .main .links .table a {
    width: 30%;

    margin-left: 5%;
  }

  .main .links .table a:nth-child(3n + 1) {
    margin-left: 0;
  }
}

@media screen and (max-width: 1020px) and (min-width: 580px) {
  .main .links .table a {
    width: 45%;

    margin-left: 10%;
  }

  .main .links .table a:nth-child(odd) {
    margin-left: 0;
  }
}

@media screen and (max-width: 950px) {
  .main .info {
    padding-left: 40px;
    height: 911px;
  }

  .main .info .tagline {
    width: 453px;

    margin: 44px 0 0;
  }

  .main .info .text-info {
    margin-top: 180px;
    width: 453px;
  }

  .main .info .text-info .header {
    font-size: 32px;
  }

  .main .info .text-info .text {
    width: 433px;
    margin-top: 16px;
  }

  .main .links .table {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 580px) {
  .main .links .table a {
    width: 90%;

    margin-left: 5%;
  }
}

@media screen and (max-width: 520px) {
  .main .info {
    height: 918px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .main .info .tagline {
    width: 251px;

    font-size: 40px;
    line-height: 44px;

    margin-top: 24px;
  }

  .main .info .text-info {
    margin-top: 88px;
  }

  .main .info .text-info .header {
    font-size: 22px;
    line-height: 21px;
  }

  .main .info .text-info .text {
    margin-top: 23px;
    width: 329px;
  }
}