.menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 118px;

  background-color: var(--color-background);

  z-index: 2;

  padding: 16px 40px 10px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.menu .wrapper {
  height: 100%;

  margin: 0 0 10px 40px;
}

.menu .logo {
  display: inline-block;
}

.menu nav {
  height: 54px;
  margin: 0;
}

.menu .main {
  height: 40px;
  display: flex;
  align-items: flex-end;
  width: 100%;
  max-width: 100%;
}

.menu a {
  display: inline-block;

  color: var(--color-grey-2);
  position: relative;

  font-size: 14px;
  line-height: 13px;

  text-transform: uppercase;
}

.menu a.active:not(.logo) {
  color: var(--color-green);
}

.menu .account {
  margin: 14px 0 0 auto;

  width: 140px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;

  cursor: pointer;
}

.menu .account p {
  color: var(--color-black);

  font-size: 14px;
  line-height: 15px;
}

.menu .account img {
  width: 40px;
  height: 40px;
}

.menu .account .account-menu {
  display: none;
  width: 210px;

  padding: 8px;

  position: absolute;
  top: 100%;
  right: 0;

  background-color: var(--color-white);
}

.menu .account .account-menu.active {
  display: block;
}

.menu .account .account-menu a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 210px;
  height: 38px;

  margin-left: 20px;

  text-transform: none;

  font-size: 15px;
}

.menu .menu__btn {
  position: fixed;
}

.menu .account .account-menu a:hover {
  color: var(--color-green);
}

.menu .account .account-menu a.active {
  color: var(--color-green);
}

.menu a {
  margin-left: 32px;
}

.menu a:first-child {
  margin-left: 0;
}

.menu #menu__toggle {
  opacity: 0;
  position: fixed;
}

@media screen and (min-width: 1051px) {
  .menu .main a.active:not(.logo)::before {
    content: '';
  
    position: absolute;
    top: -42px;
    left: 50%;
  
    height: 30px;
    width: 2px;
  
    background-color: var(--color-green);
  
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 1350px) {
  .menu .main a {
    margin-left: 16px;
  }
}

@media screen and (max-width: 1254px) {
  .menu .main a {
    margin-left: 6px;
  }
}

@media screen and (max-width: 1050px) {
  .menu {
    height: 66px;

    justify-content: flex-start;
  }

  .menu .logo {
    margin: 0 0 0 25px !important;
  }

  .menu .logo img {
    height: 26px;
  }

  .menu .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 25px;
    left: 25px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;

    background-image: url('../images/menu/burger.svg');
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .menu #menu__toggle:checked + .menu__btn {
    background-image: url('../images/menu/x.svg');
  }

  .menu .wrapper {
    position: fixed;
    visibility: hidden;

    top: 0;
    left: -100%;
    width: 259px;
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;

    margin: 0;
    padding: 24px;

    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }

  .menu .wrapper .account {
    margin: 78px 0 0;

    display: block;

    height: unset;
  }

  .menu .wrapper .account > img,
  .menu .wrapper .account > p {
    display: inline-block;
    vertical-align: middle;
  }

  .menu .wrapper .account > p {
    margin-left: 12px;
  }

  .menu .wrapper .account .account-menu {
    position: unset;
  }

  .menu .wrapper .main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .menu .wrapper .main a {
    margin: 32px 0 0;
  }

  .menu #menu__toggle:checked + label + a + .wrapper {
    visibility: visible;
    left: 0;
  }
}