.no-match {
  padding: 48px 200px 0;
}

.no-match .header {
  font-size: 50px;
  line-height: 30px;
}

.no-match .header + p {
  margin-top: 28px;
}

@media screen and (max-width: 650px) {
  .no-match {
    padding-left: 70px;
    padding-right: 70px;
  }
}