.page-links {
  padding-left: 42px;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: -230px;

  background-color: var(--color-background);

  z-index: 1;
}

.page-links a {
  display: block;
  position: relative;

  font-weight: bold;

  font-size: 14px;
  line-height: 13px;

  margin-bottom: 32px;

  text-transform: uppercase;

  color: var(--color-grey-2);
  
  white-space: nowrap;
}

.page-links a.active {
  color: var(--color-green);
}

.page-links a:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 841px) {
  .page-links a.active::before {
    content: '';
  
    position: absolute;
    top: 50%;
    left: -42px;
  
    transform: translateY(-50%);
  
    width: 30px;
    height: 2px;
  
    background-color: var(--color-green);
  }
}

@media screen and (max-width: 840px) {
  .page-links {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100% !important;

    overflow: auto hidden;

    padding: 0 0 18px;

    top: -54px;
  }

  .page-links a {
    margin: 0 16px;
  }
}