.profile .container {
  margin: 48px 200px 60px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.profile .page-links {
  flex-shrink: 0;
}

.profile .sections {
  display: inline-block;

  margin-left: 69px;

  position: relative;

  max-width: calc(100% - 48px);
}

.profile .sections > div {
  padding: 32px 32px 24px;

  margin-top: 32px;
}

.profile .sections > :first-child {
  margin-top: 0;
}

.profile .sections #common {
  width: 100%;

  position: relative;
}

.profile .sections #common .img {
  position: absolute;
  top: 0;
  left: calc(50% + 32px);
}

.profile .sections #common .img > img {
  display: block;
  margin: 32px auto 0;

  width: 160px;
  height: 160px;
}

.profile .sections #common > .img,
.profile .sections .fields {
  width: 50%;
  height: 100%;

  flex-shrink: 0;
}

.profile .sections #common .upload {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 24px auto 0;

  width: 160px;
  height: 20px;
}

.profile .sections #common .upload p {
  color: var(--color-green);

  margin-left: 12px;
}

.profile .sections .fields .header {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;

  text-transform: uppercase;
}

.profile .sections .fields .send {
  margin-top: 40px;
}

.profile .sections .fields .input-wrapper {
  height: 62px;

  margin-top: 32px;
}

.profile .sections .fields .input-wrapper input {
  margin-top: 29px;

  display: inline-block;
}

.profile .sections .fields .input-wrapper label {
  color: var(--color-black);
}

.profile .sections .fields .input-wrapper label + input {
  margin-top: 14px;
}

.profile .sections .fields .input-wrapper:first-of-type {
  margin-top: 20px;
}

.profile .sections #web-links .fields {
  width: 100%;
}

.profile .sections #web-links .fields .send {
  margin-top: 24px;
}

.profile .sections #web-links .fields .input-wrapper {
  display: inline-block;

  width: calc(50% - 5px);

  margin-top: 2px;
}

.profile .sections #web-links .fields .input-wrapper:nth-of-type(2) {
  margin-left: 10px;
}

.profile .sections #company-contacts .added,
.profile .sections #web-links .added {
  margin-top: 46px;
}

.profile .sections #company-contacts .added .link,
.profile .sections #web-links .added .link {
  width: 100%;
  height: 46px;

  margin-top: 16px;
  padding: 13px 16px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  border-bottom: 1px solid var(--color-grey-1);
}

.profile .sections #company-contacts .added .link:first-child,
.profile .sections #web-links .added .link:first-child {
  margin-top: 0;
}

.profile .sections #company-contacts .added .link > div,
.profile .sections #web-links .added .link > div {
  width: 50%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile .sections #company-contacts .added .link > div:last-child,
.profile .sections #web-links .added .link > div:last-child {
  justify-content: space-between;

  margin-left: 10px;
}

.profile .sections #company-contacts .added .link img:first-child,
.profile .sections #web-links .added .link img:first-child {
  width: 16px;
  height: 12px;
}

.profile .sections #company-contacts .added .link .name,
.profile .sections #web-links .added .link .name {
  font-size: 16px;
  line-height: 20px;

  margin-left: 34px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  max-width: calc(100% - 50px);
}

.profile .sections #company-contacts .added .link .url,
.profile .sections #web-links .added .link .url {
  font-size: 16px;
  line-height: 20px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  color: var(--color-green);

  max-width: calc(100% - 24px);
}

.profile .sections #company-contacts .added .link img:last-of-type,
.profile .sections #web-links .added .link img:last-of-type {
  width: 24px;
  height: 24px;

  display: block;
}

.profile .sections #company-contacts .company-links {
  width: 100%;

  margin-top: 42px;
}

.profile .sections #company-contacts .company-links .fields {
  width: 100%;
}

.profile .sections #company-contacts .company-links .fields .send {
  margin-top: 24px;
}

.profile .sections #company-contacts .company-links .fields .input-wrapper {
  display: inline-block;

  width: calc(50% - 5px);

  margin-top: 2px;
}

.profile .sections #company-contacts .company-links .fields .input-wrapper:nth-of-type(2) {
  margin-left: 10px;
}

.profile .sections #company-contacts .company-links .header {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.profile .sections #company-contacts .added .link .name,
.profile .sections #company-contacts .added .link div:first-child img:nth-of-type(2) {
  margin-left: 12px;
}

.profile .sections #company-contacts {
  padding-bottom: 40px;

  margin-bottom: 60px;
}

@media screen and (max-width: 1100px) {
  .profile .container {
    margin-right: 24px;
  }
}

@media screen and (max-width: 840px) {
  .profile .container .sections {
    margin-left: 0;
  }

  .profile .container {
    margin-left: 24px;

    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .profile .sections #common .img {
    position: unset;
  }

  .profile .sections #common {
    flex-direction: column;
  }

  .profile .sections .fields {
    width: 100%;
  }

  .profile .sections > div {
    padding: 0;
  }

  .profile .sections #company-contacts .fields .input-wrapper,
  .profile .sections #web-links .fields .input-wrapper {
    display: block !important;
    width: 100% !important;
    margin-left: 0 !important;
  }
}