.recomendations .books {
  margin: 48px 200px 110px;
}

.recomendations .books .header {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.recomendations .books .list {
  margin-top: 40px;
}

.recomendations .books .book {
  width: calc(50% - 39px);
  height: 170px;

  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 0 0 32px 78px;

  overflow: hidden;
}

.recomendations .books .book:nth-child(1),
.recomendations .books .book:nth-child(2) {
  margin-top: 0;
}

.recomendations .books .book:nth-child(odd) {
  margin-left: 0;
}

.recomendations .books .book .img {
  width: 170px;
  height: 100%;

  overflow: hidden;

  flex-shrink: 0;
}

.recomendations .books .book .img img {
  height: 100%;
}

.recomendations .books .book .info {
  padding: 24px 24px 36px 26px;
}

.recomendations .books .book .info .name {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.recomendations .books .book .info .description {
  margin-top: 16px;

  font-size: 14px;
  line-height: 18px;
}

@media screen and (max-width: 1250px) {
  .recomendations .books .book {
    width: 100%;
    margin: 24px 0 0 !important;
  }

  .recomendations .books .book:first-child {
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 780px) {
  .recomendations .books {
    margin-left: 24px;
    margin-right: 24px;
  }

  .recomendations .books .book .img {
    width: 80px;
    height: unset;
  }

  .recomendations .books .book .img img {
    width: 100%;
  }
}