.review {
  display: inline-block;

  width: 30%;
  max-width: 320px;
  height: 422px;

  margin: 40px 0 0 40px;
}

.review:nth-child(3n + 1) {
  margin-left: 0;
}

.review:nth-child(1),
.review:nth-child(2),
.review:nth-child(3) {
  margin-top: 0;
}

.review > .img {
  width: 100%;
  height: 50%;

  border-bottom: 1px solid var(--color-grey-1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.review > .img img {
  max-width: 80%;
  max-height: 80%;
}

.review .info {
  margin: 15px 24px 26px;

  height: calc(50% - 41px);
}

.review .info .name {
  color: var(--color-green);

  font-size: 16px;
  line-height: 20px;

  height: 20px;
}

.review .info .rating {
  width: 100%;
  height: 18px;

  margin: 24px 0 0;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.review .info .rating p {
  font-size: 14px;
  line-height: 18px;
}

.review .info .rating p:first-child {
  color: var(--color-grey-1);
}

.review .info .rating p:last-child {
  margin-left: 8px;
}

.review .info .rating .stars {
  margin-left: 8px;
}

.review .info .rating .stars div {
  display: inline-block;
  margin-left: 1px;

  width: 16px;
  height: 16px;

  background-image: url('../images/business-ideas/stars/empty.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.review .info .rating .stars div.fill {
  background-image: url('../images/business-ideas/stars/fill.svg');
}

.review .info .rating .stars div:first-child {
  margin-left: 0;
}

.review .info .description {
  display: inline-block;

  height: 96px;

  margin: 15px 0 0;

  font-size: 16px;
  line-height: 24px;

  overflow: hidden;
}

@media screen and (max-width: 1250px) and (min-width: 976px) {
  .review {
    width: 45%;

    margin: 40px 0 0 40px !important;
  }

  .review:nth-child(1),
  .review:nth-child(2) {
    margin-top: 0 !important;
  }

  .review:nth-child(odd) {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 975px) {
  .review {
    width: 320px;

    margin: 40px auto 0 !important;

    display: block;
  }

  .review:first-child {
    margin-top: 0 !important;
  }
}