.review-full {
  padding: 145px 160px 170px !important;

  position: relative;
}

.review-full .all {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.review-full .all .info {
  width: 476px;
}

.review-full .back * {
  display: inline-block;
}

.review-full .back p {
  color: var(--color-green);

  font-size: 14px;
  line-height: 16px;

  text-transform: uppercase;

  margin-left: 12px;
}

.review-full .header {
  margin-top: 12px;

  font-size: 22px;
  line-height: 28px;
  font-weight: bold;

  letter-spacing: 0.5px;

  text-transform: uppercase;
}

.review-full .rating + p > a,
.review-full .rating + p {
  margin-top: 16px;

  font-size: 14px;
  line-height: 20px;
}

.review-full .rating + p > a {
  color: var(--color-green);
}

.review-full .all .info .rating {
  width: 100%;
  height: 18px;

  margin: 24px 0 0;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.review-full .all .info .rating p {
  font-size: 14px;
  line-height: 18px;
}

.review-full .all .info .rating p:first-child {
  color: var(--color-grey-1);
}

.review-full .all .info .rating p:last-child {
  margin-left: 8px;
}

.review-full .all .info .rating .stars {
  margin-left: 8px;
}

.review-full .reviews .list .review > img {
  max-height: 100%;
}

.review-full .reviews .list .review .content .stars div,
.review-full .reviews .add .stars div,
.review-full .all .info .rating .stars div {
  display: inline-block;
  margin-left: 1px;

  width: 16px;
  height: 16px;

  background-image: url('../images/business-ideas/stars/empty.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.review-full .reviews .list .review .content .stars div.fill,
.review-full .reviews .add .stars div:hover,
.review-full .all .info .rating .stars div.fill {
  background-image: url('../images/business-ideas/stars/fill.svg');
}

.review-full .reviews .add .stars div {
  width: 24px;
  height: 24px;

  margin-left: 16px;
}

.review-full .reviews .list .review .content .stars div:first-child,
.review-full .reviews .add .stars div:first-child,
.review-full .all .info .rating .stars div:first-child {
  margin-left: 0;
}

.review-full .all .info .text {
  margin-top: 12px;
}

.review-full > .all > .info > img {
  display: block;

  margin-left: 40px;

  position: absolute;

  top: 225px;
  right: 200px;
}

.review-full .reviews {
  margin: 80px 0 110px !important;
  width: 100%;
}

.review-full .reviews .header {
  font-size: 22px;
  line-height: 21px;
}

.review-full .reviews .add {
  margin-top: 31px;
}

.review-full .reviews .add p:first-child {
  font-size: 12px;
  line-height: 14px;

  color: var(--color-grey-1);
}

.review-full .reviews .add .stars {
  margin-top: 22px;
}

.review-full .reviews .add textarea {
  height: 85px;
  width: 100%;

  resize: none;

  border-radius: 0;
  border: 1px solid var(--color-grey-1);

  margin-top: 26px;

  padding: 12px 16px;

  font-size: 14px;
  line-height: 20px;
}

.review-full .reviews .add .send {
  width: 163px;
  height: 40px;

  margin: 16px 0 0 auto;
}

.review-full .reviews .list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.review-full .reviews .list .review {
  width: 100%;
  height: 95px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 32px 0 0 !important;

  max-width: unset;
}

.review-full .reviews .list .review:first-child {
  margin-top: 0;
}

.review-full .reviews .list .review .content {
  margin: 0;
}

.review-full .reviews .list .review .content .name {
  font-size: 16px;
  line-height: 20px;
}

.review-full .reviews .list .review .content .info {
  display: flex;
  align-items: center;

  margin: 8px 0 0;
}

.review-full .reviews .list .review .content .date {
  font-size: 12px;
  line-height: 14px;

  color: var(--color-grey-1);

  margin-left: 8px;
}

.review-full .reviews .list .review .content > p:last-child {
  margin-top: 8px;

  font-size: 14px;
  line-height: 20px;

  height: 40px;
  overflow: hidden;
}

@media screen and (max-width: 1350px) {
  .review-full > .all > .info > img {
    width: 300px;
  }
}

@media screen and (max-width: 1150px) {
  .review-full > .all > .info > img {
    position: unset;

    margin: 24px 0 0;
  }
}

@media screen and (max-width: 660px) {
  .review-full {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}