.custom-select {
  position: relative;

  width: 100%;

  height: 22px;

  display: inline-block;
  margin-top: 29px;
}

.custom-select select {
  display: none;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 50%;
  right: 31px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  background-image: url('../images/profile/arrow.svg');
}

.select-selected {
  border: 0 !important;
}

.select-items div,
.select-selected {
  color: var(--color-black);

  font-size: 16px;
  line-height: 20px;

  padding: 0;
  cursor: pointer;

  height: 22px;

  padding-left: 4px;
  padding-right: 4px;
}

.select-items div {
  padding-top: 2px;
  padding-bottom: 2px;

  height: 26px;
}

.select-items {
  position: absolute;
  background-color: var(--color-white);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}