.team-club .page-links {
  width: 161px;
}

.team-club .content {
  margin: 48px 160px 78px 200px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.team-club .sections {
  display: inline-block;

  position: relative;

  max-width: calc(100% - 48px);
}

.team-club .sections .header {
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
}

.team-club .sections > div {
  margin-left: 40px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.team-club .sections > div > :nth-child(3) {
  display: flex;
}

.team-club .sections > div > .characters {
  position: sticky;

  top: 0;
  margin: 38px 0;

  width: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.team-club .sections > div > .characters a {
  color: var(--color-grey-1);

  font-size: 14px;
  line-height: 18px;
}

.team-club .sections > div .account-card {
  max-width: 100%;
  min-width: 415px;

  width: 45%;

  margin: 20px 0 0 10px;
}

.team-club .sections .account-card:nth-of-type(even) {
  margin-left: 0;
}

.team-club .sections > div .account-card.president {
  display: flex;

  margin-left: 0;
}

@media screen and (max-width: 1430px) {
  .team-club .sections > div .account-card {
    width: 100%;
    
    margin: 20px 0 0;
  }
}

@media screen and (max-width: 840px) {
  .team-club > .content > .sections {
    margin: 0;
  }

  .team-club .content {
    margin-left: 50px;
    margin-right: 50px;

    flex-direction: column;
  }

  .team-club .content .sections .members {
    margin-left: 24px;
  }
}

@media screen and (max-width: 550px) {
  .team-club .sections > div .account-card {
    width: 315px;
    min-width: 315px;
  }

  .team-club .sections > div .account-card .info {
    max-width: calc(100% - 100px);
  }

  .team-club .sections > div .account-card .img {
    width: 48px;
    height: 48px;
  }

  .team-club .content {
    margin-left: 0;
    margin-right: 0;
  }
}

.team-club .sections > div:not(.page-links) > :nth-child(3) {
  margin: 0;
}