.young-first .preview {
  margin: 48px 200px 242px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  position: relative;

  width: calc(100% - 400px);
}

.young-first .preview .img {
  position: absolute;

  top: 0;
  right: 0;

  width: 50%;
}

.young-first .preview .img img {
  width: 100%;
}

.young-first .preview .info {
  width: 30%;
  max-width: 100%;
}

.young-first .preview .info .name {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.young-first .preview .info .description {
  margin-top: 24px;
}

.young-first .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin: 0 200px 80px 240px;
}

.young-first .characters {
  position: sticky;

  top: 0;

  width: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.young-first .characters a {
  color: var(--color-grey-1);

  font-size: 14px;
  line-height: 18px;
}

.young-first .news {
  margin: 48px 200px 102px;

  width: calc(100% - 400px);
}

.young-first .news .new {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  width: 320px;
  height: 421px;

  cursor: pointer;
}

.young-first .news .new {
  width: calc(30% - 16px);

  margin: 48px 0 0 40px;
}

.young-first .news .new:nth-child(3n + 2) {
  margin-left: 0;
}

.young-first .news .new .img {
  max-height: 206px;
  height: 100%;
  width: 100%;

  flex-shrink: 0;

  position: relative;

  overflow: hidden;
}

.young-first .news .new .img img {
  position: absolute;

  top: 0;
  left: 50%;

  transform: translateX(-50%);

  height: 100%;

  display: block;
}

.young-first .news .new .info {
  width: 100%;
  height: 100%;

  padding: 15px 24px 21px;
}

.young-first .news .new .info .name {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.young-first .news .new .info .date {
  margin-top: 4px;

  color: var(--color-grey-1);

  font-size: 14px;
  line-height: 18px;
}

.young-first .news .new .info .description {
  margin-top: 8px;

  font-size: 16px;
  line-height: 20px;

  height: 60px;

  overflow: hidden;
}

.young-first .news .new .info .more {
  width: 180px;
  height: 40px;
}

.young-first .news .new .info .more {
  display: block;

  margin: 10px auto 0;
}

.young-first .members .account-card.president {
  display: flex !important;
}

.young-first .members .account-card:not(.president) {
  margin: 20px 0 0 20px;
}

.young-first .members .account-card:nth-of-type(even) {
  margin-left: 0;
}

.young-first .news .new:hover .sub-without {
  background-color: var(--color-green);
}

@media screen and (max-width: 1390px) {
  .young-first .members {
    margin-left: 150px;
    margin-right: 150px;
  }

  .young-first .news {
    margin-left: 24px;
    margin-right: 24px;

    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 1250px) {
  .young-first .members {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .young-first .members .account-card {
    margin: 20px 0 0 !important;

    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .young-first .preview .img {
    position: unset;

    margin: 24px 0 0;
  }

  .young-first .preview .info {
    width: 100%;
  }

  .young-first .preview .img {
    width: 100%;
  }

  .young-first .news .new {
    width: calc(45% - 20px);

    margin: 40px 0 0 40px !important;
  }

  .young-first .news .new:nth-child(1),
  .young-first .news .new:nth-child(2) {
    margin-top: 0 !important;
  }
}

@media screen and (min-width: 1101px) {
  .young-first .news .new:first-child .info {
    padding: 102px 32px 50px;
  }
  
  .young-first .news .new:first-child .info .date {
    margin-top: 8px;
  }
  
  .young-first .news .new:first-child .info .description {
    margin-top: 16px;
  
    font-size: 16px;
    line-height: 24px;
  }

  .young-first .news .new:first-child .info .more {
    margin-top: 28px;
  
    width: 150px;
  }

  .young-first .news .new:first-child {
    width: 100%;
    height: 342px;
  
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .young-first .news .new:first-child .img {
    width: 45%;
    height: 100%;

    max-height: 100%;
  }
}

@media screen and (max-width: 850px) {
  .young-first .preview {
    margin-left: 24px;
    margin-right: 24px;
  }

  .young-first .preview {
    width: calc(100% - 48px);
  }

  .young-first .members {
    margin-left: 24px;
    margin-right: 24px;
  }

  .young-first .news {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .young-first .news .new {
    width: 328px;

    margin: 0 !important;
  }
}