.young-first-full {
  padding: 150px 360px 132px !important;
}

.young-first-full .header {
  margin-top: 8px;

  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
}

.young-first-full .date {
  color: var(--color-grey-1);

  margin-top: 8px;

  font-size: 14px;
  line-height: 18px;
}

.young-first-full .img {
  margin-top: 24px;

  width: 100%;
}

.young-first-full .img img {
  width: 100%;
}

.young-first-full .text {
  margin-top: 32px;

  font-size: 16px;
  line-height: 24px;
}

@media screen and (max-width: 1250px) {
  .young-first-full {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}